<!-- <nav>
  <ul>
    <li>
      <a routerLink="/intro" routerLinkActive="active">Intro</a>
    </li>

    <li>
      <a routerLink="/result" routerLinkActive="active">Result</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet> -->

<h2>Books</h2>
<app-lesson-list
  *ngIf="lessons$ | async as lessons"
  class="lesson-list"
  [lessons]="lessons"
  (add)="onAdd($event)"
></app-lesson-list>

<h2>My Collection</h2>
<app-lesson-collection
  *ngIf="lessonCollection$ | async as lessonCollection"
  class="lesson-collection"
  [lessons]="lessonCollection"
  (remove)="onRemove($event)"
>
</app-lesson-collection>
