<div class="app-container" [ngClass]="(activeTheme$ | async).class">
  <app-header
    [themes]="appThemes"
    (themeSelected)="themeSelected($event)"
  ></app-header>
  <router-outlet></router-outlet>
</div>

<!-- <nav>
  <ul>
    <li>
      <a routerLink="/intro" routerLinkActive="active">Intro</a>
    </li>

    <li>
      <a routerLink="/result" routerLinkActive="active">Result</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet> -->

<!-- <h2>Kurs</h2>
<app-lesson-list
  *ngIf="lessons$ | async as lessons"
  class="lesson-list"
  [lessons]="lessons"
  (add)="onAdd($event)"
></app-lesson-list>

<h2>Valgt kurs</h2>
<app-lesson-collection
  *ngIf="lessonCollection$ | async as lessonCollection"
  class="lesson-collection"
  [lessons]="lessonCollection"
  (remove)="onRemove($event)"
>
</app-lesson-collection> -->
